.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 150px;
}

.formWrapper {
  width: 100%;
  padding: 20px 20px;
  border: solid 0.5px #afafaf;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
}

.form {
  width: 100%;
  div {
    fieldset {
      border: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 0px;
      div {
        display: flex;
        flex-direction: column;
        width: 33.33%;
        margin-bottom: 20px;
        label {
          font-size: 1.8rem;
          text-align: left;
        }
        input {
          border-width: 0.5px;
          margin-top: 10px;
          border-radius: 6px;
          padding: 5px;
          font-size: 1rem;
          max-width: 80%;
        }
        select {
          margin-top: 10px;
          border-radius: 6px;
          padding: 5px;
          font-size: 1rem;
          max-width: 80%;
        }
      }
    }
  }
}
